Q1. How do you comment code in Python? What are the different types of comments ?

Ans

There are two type of comments code in Python

* Single line Comments :-


* Multi-line Comments :-

* Single-line comments :-

These comments start with the hash (#) symbol and extend to the end of the line. Anything written after the # symbol on the same line is considered a comment.

Example of single-line comment :

In [1]:
# This is a single-line comment in Python
print("Hey, Saksham!")  
# This print statement will display "Hello, World!"

Hey, Saksham!

* Multi-line Comments :-

Python does not have a built-in syntax for multi-line comments like some other programming languages. However, you can achieve multi-line comments by using triple-quotes (''' or """) to create a multi-line string, which Python will ignore as long as it's not assigned to a variable.this multi-line comments are also known as block comment.

In [2]:
'''
This is a multi-line comment in Python.
You can write multiple lines here without affecting the code.
'''
print("Hey, Saksham!")

Hey, Saksham!

                                                                OR

In [3]:
"""
This is a multi-line comment in Python.
You can write multiple lines here without affecting the code.
"""
print("Hey, Saksham!")

Hey, Saksham!

Q2. What are variables in Python? How do you declare and assign values to variables ?

Ans

In Python, variables are used to store data values in memory. A variable is like a container that holds a value, and you can refer to that value using the variable's name. Variables provide a way to keep track of data throughout the execution of a program and Decleration and Assignment values to variables in python is simple.

* Assignment and Declaration in one step :
       
       variables_name = value

Examples :-

In [6]:
# Here, the variable "Name" stores the string "Saksham"
Name = "Saksham"
# Here, the variable "Age" stores the integer 21
Age = 21
# Here, the variable "Student" stores the boolean value True 
Student = True
# Here, the variable "Marks" stores the floating point number 86.54
Marks = 86.54

In [7]:
Name

'Saksham'

Python automatically creates the variables Name, Age, Student, and Marks as you assign values to them. 
You can reassign values to variables at any point in the code:-

Example :-

In [8]:
#Here, we reassign a new value in "Name" variable 
Name = "Tanu" 
print(Name) 
        #then the output is Tanu
#Here, we reassign a new value in "Age" variable
Age = 20
print(Age)
        #then the output is 20 
    ###New Value is Assigned in old varaibles.

Tanu
20

Q3. How do you convert one data type to another in Python ?

Ans

In Python, you can convert one data type to another using a process called "type casting." Python provides built-in functions to facilitate type casting for various data types.

* int(): Converts a value to an integer data type.

In [9]:
num_str = "488"
num_int = int(num_str)
print(num_int)

488

In [10]:
type(num_int)

int

* str(): Converts a value to a string data type.

In [11]:
num_int = 647
num_str = str(num_int)
print(num_str)

647

In [12]:
type(num_str)

str

* bool(): Converts a value to a boolean data type.

In [13]:
"""Any non-zero numeric value or non-empty container (e.g., list, tuple, dictionary) will be converted to True, while 0,
None, empty strings, and empty containers will be converted to False."""
num = 45
is_positive = bool(num)
print(is_positive)

True

In [14]:
type(is_positive)

bool

In [15]:
empty_list = []
is_list_empty = bool(empty_list)
print(is_list_empty)

False

In [16]:
type(is_list_empty)

bool

* float(): Converts a value to a floating-point data type.

In [17]:
num_int = 437
num_float = float(num_int)
print(num_float)

437.0

In [18]:
type(num_float)

float

* tuple(): Converts a tuple into list data type.

In [19]:
number_tuple = (10,54,60,87,45)
number_list = list(number_tuple)
print(number_list)

[10, 54, 60, 87, 45]

In [20]:
type(number_list)

list

* list(): Converts a list into Set data type.

In [21]:
number_list = [10,54,47,52,36]
number_set = set(number_list)
print(number_set)

{36, 10, 47, 52, 54}

In [22]:
type(number_set)

set

* dict(): Convert a list of tuples to a dictionary.

In [23]:
items_price = [("Mangoes",25),("Apple",155),("Banana",55),("Kiwi",45)]
items_dict = dict(items_price)
print(items_dict)

{'Mangoes': 25, 'Apple': 155, 'Banana': 55, 'Kiwi': 45}

In [24]:
type(items_dict)

dict

Q4. How do you write and execute a Python script from the command line ?

Ans

To write and execute a Python script from the command line.

 * First open a text editor (e.g., Notepad, Visual Studio Code,Jupyter notebook) and write your Python code. 
* Save the file with a .py extension, which indicates that it's a Python script. 
  
  * For example, you can create a file named myscript.py.
                    # myscript.py
print("Hello, Saksham!!")

* Open the Command Line / Terminal: To execute the Python script, you need to open the command line or terminal on your operating system. 
   *The process varies depending on the operating system:

   * On Windows: Press Win + R, type cmd, and press Enter.
  
* Navigate to the script's directory: Use the cd command (change directory) to navigate to the directory where your Python script is located. 
   * For example, if your script is in the Documents folder, 

type : cd Documents in bash shell

* Execute the Python script: Once you are in the correct directory, use the python command followed by the script's filename to execute the Python script.

For example :  python myscript.py

* Observe the output : After executing the command, the Python script will run, and any output generated by the script will be displayed in the command line or terminal. 
  In this example, you should see the output:
                                        
                                        
                                         Hello , Saksham!!
                                        
  * That's it! You have successfully written and executed a Python script from the command line.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

Ans

In [25]:
#my_list is the given list : -
my_list = [1, 2, 3, 4, 5]

# Using slicing to get the sub-list [2, 3]
sub_list = my_list[1:3]

print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python ?

Ans

In mathematics, a complex number is a number that comprises both a real part and an imaginary part. It is written in the form a + bj, where a is the real part, b is the imaginary part, and j is the imaginary unit. The imaginary unit j is defined as the square root of -1.

In the complex number a + bj, the real part a represents the contribution along the real axis, and the imaginary part bj represents the contribution along the imaginary axis.

For Example : -

* 3 + 4j is a complex number with a real part of 3 and an imaginary part of 4.
* -2j is a pure imaginary number with a real part of 0 and an imaginary part of -2.

In Python, complex numbers are natively supported as a data type. To represent a complex number in Python, you use the j suffix to denote the imaginary part.

For Example :-

In [26]:
# Representing a complex number in Python
complex_num = 6 + 8j
print(complex_num)
#Final Output is (6+8j)

(6+8j)

Python also provides built-in functions like real, imag, conjugate, and abs to work with complex numbers :

In [27]:
complex_num

(6+8j)

In [28]:
complex_num.real

6.0

In [29]:
complex_num.imag

8.0

In [30]:
complex_num.conjugate()

(6-8j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it ?

Ans

In [31]:
age = 25
# You can use the variable "age" in your code
print("The age is:", age)  

# Output: The age is: 25

The age is: 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to ?

To declare a variable named price and assign the value 9.99 to it in Python written like this : -

In [32]:
price = 9.99

After executing this line, the variable price will be created and assigned the value 9.99. The data type of the variable price in this case is a floating-point number (float). This is because 9.99 contains a decimal point, making it a floating-point literal.

You can verify the data type of the price variable using the type() function:

In [33]:
print(type(price))

<class 'float'>

Here,the output will indicate that the variable price belongs to the float data type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable ?

Ans

In [34]:
name = "Saksham Jain"
print(name)

Saksham Jain

Q10. Given the string "Hello, World!", extract the substring "World".

Ans

In [35]:
# Given string will be 
string = "Hello, World!"

# Extracting the substring "World" using slicing
substring = string[7:12]

print(substring)

World

Here , the output is substring will be World.

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [36]:
is_student = True

* True with False depending on your status. If you are currently a student, set the variable to True; otherwise, set it to False.